

 .nav-pills a {
 	color: grey;
 }


	.block{
		padding-top:8%;
		border: 1px solid black;
		/*color: white;*/
	}
.string {
	margin: 5px;
	 }
.question-blok {
	margin-top: 25px;
	box-shadow: 0px 0px 11px 4px rgba(219,215,219,1);
	background: #eae8e8;
	padding: 10px 0 10px;
}
input {
	margin: 10px 0 10px 5px;
}
/*.input-group input {
	margin: 0;
	margin-left: 5px;
}*/
/*.input-group-append {
	margin-left:1%;
}*/
.btn {
	margin-top: 10px;
}